.content {
    .Absolute-Center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .pea_logo {
        max-width: 405px;
        @media only screen and(max-width: 450px) {
            max-width: 90%;
        }
    }
}